.proyectos{
    display: flex;
    justify-content: center;
    padding: 45px 0;
    background: #eaaa1e;
    font-family: 'Cabin', sans-serif;
}
.proyecto__titulo{
    font-size: 2rem;
    padding: 25px 0 25px 0;
}
.proyectos__contenido{
    text-align: center;
    width: 1025px;
}

.encriptador__img{
    margin: 15px;
    width: 50%;
}

.proyecto__card{
    display: flex;
    align-items: center;
}

.card-titulo{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-subtitulo{
    font-size: 23px;
    margin-bottom: 10px;
}
.card-parrafo{
    font-size: 18px;
    margin-bottom: 30px;
}
.proyecto__boton-pagina{
    padding: 15px;
    font-size: 17px;
    background: #ebd199;
    border-color: #9f7a2b;
    color: #000000 !important;
    transition: all 1s ease;
    margin-right: 20px;
}

.proyecto__boton-pagina:hover{
    background: #df8f16;
    color: #fff !important;
}
.proyecto__boton-repo{
    padding: 15px;
    font-size: 17px;
    background: #df8f16;
    color: #fff !important;
    border-color: #9f7a2b;
    transition: all 1s ease;
}

.proyecto__boton-repo:hover{
    background: #ebd199;
    color: #000000 !important;
}

@media (min-width: 768px) and (max-width: 1024px){
    .proyectos__contenido{
        padding: 2rem 1rem;
    }
    .proyecto__titulo{
        font-size: 28px;
    }
    .proyecto__card{
        flex-direction: column;
        align-items: flex-start;
    }
    .encriptador__img{
        width: 90%;
        order: 1;
    }
    .proyecto__card-texto{
        order: 2;
        text-align: left;
        padding-left: 15px;
    }
    .card-titulo{
        font-size: 28px;
    }
    .card-subtitulo{
        font-size: 20px;
    }
    .card-parrafo{
        display: none;
    }
    .encriptador__img{
        width: 90%;
    }
   
}

@media (min-width: 360px) and (max-width: 767px) {
    .proyectos__contenido{
        padding: 2rem 1rem;
    }
    .proyecto__titulo{
        font-size: 20px;
    }
    .proyecto__card{
        flex-direction: column;
        align-items: flex-start;
    }
    .encriptador__img{
        width: 90%;
        order: 1;
    }
    .proyecto__card-texto{
        order: 2;
        text-align: left;
        padding-left: 15px;
    }
    .card-titulo{
        font-size: 20px;
    }
    .card-subtitulo{
        font-size: 15px;
    }
    .card-parrafo{
        display: none;
    }
    .encriptador__img{
        margin: 25px 0 25px 0;
        width: 100%;
    }
}
